{{- if .Site.Data.homepage.parallax.enable }}
{{- with .Site.Data.homepage.parallax }}
<section id="parallax-header" class="parallax parallax-header bg-opacity" style="background-image: url('{{ .bgImage | absURL }}');">
 
  <div style="display: none;">
    {{ range .quoteLeft }}
    <ul id="quoteLeft">
      <li>{{ . }}</li>
    </ul>    
    {{ end }}
  </div>

  <ul>
    <li></li>
  </ul>
  <div style="display: none;" id="quoteRight" value="{{ .quoteRight }}">

  </div>
 
  <div class="container"> 
    <div class="row">
      <div class="col-md-10 text-center mx-auto">
        <div class="heading-white opacity-half">
          {{/*  <h2>{{ .title | markdownify }}</h2>  */}}
          <h2><span class="title-left">{{ .titleLeft | markdownify }}</span> for <span class="title-right">{{ .titleRight | markdownify }}</span></h2>
        </div>
        <p class="text-white">{{ .content | markdownify }}</p>
        {{/*  
          <div class="input-group">
            <form name="contact" {{ if .args }}{{ .args | safeHTMLAttr }}{{ else }}action="#"{{ end }} class="w-100">
              <input type="email" id="email" class="form-control" name="email" placeholder="{{ .placeholder }}"
                required>
              <button class="btn btn-main btn-submit" type="submit">Subscribe</button>
            </form>
          </div><!-- /input-group -->  
        */}}
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
