{{- if .Site.Data.homepage.whyus.enable }}
{{- with .Site.Data.homepage.whyus }}
<section class="section" id="whyus">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
        </div>
      </div>

      <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        {{ range .topSide }}
            <div class="col-md-6">
              <div class="mb-40 text-center text-md-center">
                <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
                <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
                <p>{{ .content | markdownify }}</p>
              </div>
            </div>
          {{ end }}
          <div class="col-md-3"></div>
        </div>
      </div>

      <div class="col-md-4">
        {{ range .leftSide }}
        <div class="mb-40 text-center text-md-center">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        <img class="img-fluid value-image" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-4">
          {{ range .rightSide }}
        <div class="mb-40 text-center text-md-center">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3"></div>
          {{ range .botSide }}
              <div class="col-md-6">
                <div class="mb-40 text-center text-md-center">
                  <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
                  <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
                  <p>{{ .content | markdownify }}</p>
                </div>
              </div>
            {{ end }}
            <div class="col-md-3"></div>
          </div>
        </div>

    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}